.footer-nav
  display: flex
  justify-content: space-between
  flex-grow: 1
  margin-right: 4.875em
.nav__column
  display: flex
  flex-direction: column
.nav__title
  font-weight: 600
  font-size: 1.125em
  color: #FFF
  line-height: 1.44em
  margin-bottom: .55em
.nav__link
  font-weight: 400
  font-size: 1.125em
  line-height: 1.44em
  color: #FFF
  opacity: .7
  margin-bottom: .55em